.about {
  display: flex;
  align-items: center;
  position: relative;
}

.about:before {
  background-image: url("../../static/images/front-end-bg.png");
  background-repeat: repeat;
  background-size: contain;
  background-position: center;
  opacity: .1;
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.about__img {
  max-width: 50%;
  border-top-right-radius: 200px 50%;
  border-bottom-right-radius: 200px 50%;
  position: relative;
}

.about__text {
  position: relative;
  text-align: right;
  width: 100%;
}

.about__icon {
  text-align: center;
}

.about__icon img {
  height: 50px;
  width: auto;
}

.about__icon-list {
  justify-content: flex-end;
}

@media screen and (max-width: 1335px) {
  .about__text {
    text-align: center;
  }

  .about__img {
    display: none;
  }

  .about__icon-list {
    justify-content: center;
  }
}