.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 3rem;
  border-bottom: 1px solid #dfdfdf;
  position: fixed;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  z-index: 1000;
  background-color: white;
}

.navbar__link {
  font-size: 1.25rem;
}

.navbar__menu {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 1rem;
  width: 50%;
  transform: translateX(100%);
  transition: all ease-in-out .4s;
  visibility: hidden;
}

.navbar__menu--expanded {
  width: 50%;
  transform: translateX(0%);
  visibility: visible;
}

.navbar__menu-close {
  position: absolute;
  right: 15px;
  top: 15px;
  color: white;
}

@media screen and (max-width: 1024px) {
  .navbar {
    padding: 1rem;
  }
}

@media screen and (min-width: 767px) {
  .navbar__menu {
    display: none;
  }
}