.util-list-inline {
  display: flex;
  align-items: center;
}

.util-list-inline--m1 > li:not(:last-child) {
  margin-right: 1rem;
}

.util-list-inline--m2 > li:not(:last-child) {
  margin-right: 2rem;
}

.util-list-inline--m3 > li:not(:last-child) {
  margin-right: 3rem;
}