.util-list-inline {
  display: flex;
  align-items: center;
  justify-content: center;
}

.util-list-inline--m-m > li:not(:last-child) {
  margin-right: 1rem;
}

.util-list-inline--m-l > li:not(:last-child) {
  margin-right: 2rem;
}

.util-pb-s { padding-bottom: 1rem; }

.util-mb-xs { margin-bottom: .5rem; }
.util-mb-s { margin-bottom: 1rem; }
.util-mb-m { margin-bottom: 1.5rem; }
.util-mb-l { margin-bottom: 2rem; }
.util-mb-xl { margin-bottom: 2.5rem; }

.util-ta-c { text-align: center; }

.util-container-padded { padding: 4rem; }

.util-bg-dark-blue {
  background-color: #052d55;
  color: white;
}

.util-mobile-only {
  display: none;
}

.util-text-charcoal { color: #4c4a4a; }
.util-text-dark-blue { color: #052d55; }

@media screen and (max-width: 767px) {
  .util-container-padded { padding: 2rem; }

  .util-mobile-only { display: block; }

  .util-desktop-only { display: none; }
}